[run]
source = moleditpy

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == "__main__":
    raise NotImplementedError
    if 0:
    if TYPE_CHECKING:

